.navbar-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  gap: 4px;
  font-size: 19px;
}
